.slide p, ul {
    display: none;
}

.btn, .btn-green {
    background-color: rgb(255, 255, 255);
    border-color: rgb(187, 100, 230);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.btnX {
    background-color: rgb(255, 255, 255);
    border-color: rgb(187, 100, 230);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.txt-form, .txt-form-small {
    width: 630px;
    margin-top: 10px;
    resize: vertical;
    min-height: 32px;
    height: 32px;
    padding-left: 7px;
    border-color: #bb64e6;
    border-radius: 10px;
    letter-spacing: 2px;
}

.txt-form-small{
    color: rgba(72, 72, 72, 0.55);
}

.txt-form, .txtform-green {
    background-image: linear-gradient(to left, #008d69, #4285f4, #b523ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-green, .txtform-green {
    background-color: rgb(255, 255, 255);
    border-color: rgb(11, 176, 0);
}